@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Secular+One&display=swap');


:root {
  --clr-light: #F1F1F1;
  --clr-dark: #2E323F;
  --clr-primary: #d0d3db;
  --clr-secondary: #7d86a3;
  --clr-accent: #06F;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --font-title: 'Secular One', sans-serif;
  --font-text: 'Rubik', sans-serif;

  --radius: 5px;
  --gap: 1rem;

  --theme-icon: "☀";
}
.theme-dark {
  --clr-light: #F1F1F1;
  --clr-dark: #2E323F;
  --clr-primary: #3B4050;
  --clr-secondary: #6F737F;
  --clr-accent: #06F;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);

  --theme-icon: "🌛︎";

  --inverted: invert(1) hue-rotate(180deg);

}
@media (prefers-color-scheme: dark) {
  .theme-auto {
    --clr-light: #F1F1F1;
    --clr-dark: #2E323F;
    --clr-primary: #3B4050;
    --clr-secondary: #6F737F;
    --clr-accent: #06F;
  
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
  
    --theme-icon: "🌛︎";
  
    --inverted: invert(1) hue-rotate(180deg);
  }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
  font-family: var(--font-text);
}
#root > div {
  background-color: var(--background);
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.hotels-gallery {
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  flex-wrap: wrap;
}

.hotel-card {
  display: flex;
  gap: var(--gap);
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.541);
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 12px;
  border-radius: var(--radius);
  background-color: var(--clr-secondary);
  
  h2 {
    font-family: var(--font-title);
    font-size: 1rem;
  }
}
.card-link{
  width: 45%;
  text-decoration: none;
  color: #0f0f11;
  display: flex;
  justify-content: space-between;
}
